<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery-validate.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <title>首页</title>
</head>
<body>
    <nav class="main-navigation">
        <div class="container-fluid">
            <ul class="menu">
                <li class="presentation"><a><img class="logo" src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" /></a></li>
                <li class="presentation"><a>首页</a></li>
                <li class="presentation"><a>后台</a></li>
                <li class="presentation"><a>用户</a></li>
            </ul>
            <ul class="menu pull-right">
                <li class="presentation" th:if="${session.userName != null}" th:text="${session.userName}"></li>
                <li class="presentation" th:if="${session.userName != null}" >
                    <a id="logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">退出<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="logout">
                        <li><a>个人管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
                <li class="presentation" th:unless="${session.userName != null}"><a data-toggle="modal" data-target="#loginModal">登录</a></li>
                <li class="presentation" th:unless="${session.userName != null}"><a href="/register">注册</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="container">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>地址</th>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${userList}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.sex}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.address}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="email" class="control-label">邮箱:</label>
                            <input type="text" class="form-control required" id="email" name="email" placeholder="邮箱" data-tip="请输入您的邮箱" data-valid="isNonEmpty||isEmail" data-error="邮箱不能为空||邮箱格式不正确" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">密码:</label>
                            <input type="password" id="password" name="password" class="form-control required" placeholder="至少6位密码，区分大小写" data-tip="请输入您的密码" data-valid="isNonEmpty" data-error="密码不能为空" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="login();">登录</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</body>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-validate.js}"></script>
<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.pjax.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/sockjs-1.1.1.js}"></script>-->
<script type="text/javascript">
    $(function(){
        toastr.options={
                "closeButton":false,//显示关闭按钮
                "debug":false,//启用debug
                "positionClass":"toast-bottom-right",//弹出的位置
                "showDuration":"300",//显示的时间
                "hideDuration":"1000",//消失的时间
                "timeOut":"5000",//停留的时间
                "extendedTimeOut":"1000",//控制时间
                "showEasing":"swing",//显示时的动画缓冲方式
                "hideEasing":"linear",//消失时的动画缓冲方式
                "showMethod":"fadeIn",//显示时的动画方式
                "hideMethod":"fadeOut"//消失时的动画方式
            };
        $(document).pjax('a', '#container');

        initFormValidate();
    });

    //初始化表单验证
    function initFormValidate() {
        $('form').validate({
            onFocus: function() {
                this.parent().addClass('active');
                return false;
            },
            onBlur: function() {
                var $parent = this.parent();
                var _status = parseInt(this.attr('data-status'));
                $parent.removeClass('active');
                if (!_status) {
                    $parent.addClass('error');
                }
                return false;
            }
        });
    }

    //登录
    function login() {
        if($("#loginForm").validate('submitValidate')){
            $.ajax({
                url:"/ajaxLogin",
                type:"post",
                data:{"email":$("#email").val(),"password":$("#password").val()},
                dataType:"text",
                success:function (data) {
                    if(data == "success"){
                        window.location.href = "/index";
                    }
                }
            });
        }
    }

    function initWebSocket(){
        var websocket;
        if ('WebSocket' in window) {
            websocket = new WebSocket("ws://localhost:8080/veg");
        } else if ('MozWebSocket' in window) {
            websocket = new MozWebSocket("ws://veg");
        } else {
            websocket = new SockJS("http://localhost:8080/com/veg");
        }
        websocket.onopen = function (evnt) {
//            $("#head").html("连接服务器成功!");
//            send();
        };
        websocket.onmessage = function (evnt) {
            toastr.info(evnt.data);
//            $("#msg").html($("#msg").html() + "<br/>" + evnt.data);
        };
        websocket.onerror = function (evnt) {
        };
        websocket.onclose = function (evnt) {
//            $("#head").html("与服务器断开了链接!");
        }
        function send(msg){
            if (websocket != null) {
                websocket.send(msg);
            } else {
//                alert('未与服务器链接.');
                toastr.error("未与服务器链接");
            }
        }
    }


</script>
</html>