<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery-validate.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
    <title>首页</title>
</head>
<body>
    <div class="root">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">
                    <a>
                        <img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" class="logo" />
                        <span class="title_name">And 501</span>
                    </a>
                </div>
                <div class="title_desc">
                    And 501 是华北区最具影响力的 Web 设计规范
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row register_form">
                    <h3>注册</h3>
                    <form class="form-horizontal" method="post" action="/createUser" id="registerForm">
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <input type="email" name="email" class="form-control input-lg required" placeholder="邮箱" data-tip="请输入您的邮箱" data-valid="isNonEmpty||isEmail" data-error="email不能为空||邮箱格式不正确" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <input type="password" name="password" class="form-control input-lg required" placeholder="至少6位密码，区分大小写" data-tip="请输入您的密码" data-valid="isNonEmpty||between:6-16" data-error="密码不能为空||密码长度6-16位" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <input type="password" class="form-control input-lg" placeholder="确认密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-2">
                                <input type="text" name="telphone" class="form-control input-lg required" placeholder="11位手机号" data-tip="请输入您的手机号" data-valid="isNonEmpty||isMobile" data-error="email不能为空||手机号格式不正确" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-1">
                                <input type="text" class="form-control input-lg" placeholder="验证码" />
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-default verify-btn">获取验证码</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-5 col-lg-1">
                                <button type="button" onclick="registerSub();" class="btn btn-primary btn-blue">注册</button>
                            </div>
                            <div class="col-lg-2">
                                <a class="login">使用已有账户登录</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-lg-12 text-center">
                <div>
                    <a>帮助</a>
                    <a>隐私</a>
                    <a>条款</a>
                </div>
                <div>
                    Copyright@ 2017 And 501 科技部出品
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-validate.js}"></script>
<script type="text/javascript">
    $('form').validate({
        onFocus: function() {
            this.parent().addClass('active');
            return false;
        },
        onBlur: function() {
            var $parent = this.parent();
            var _status = parseInt(this.attr('data-status'));
            $parent.removeClass('active');
            if (!_status) {
                $parent.addClass('error');
            }
            return false;
        }
    });

    /*$('form').on('submit', function(event) {
        event.preventDefault();
        var val = $(this).validate('submitValidate'); //return boolean;
        if(val){
            $("#registerForm").submit();
        }
    });*/

    function registerSub(){
        var val = $("#registerForm").validate('submitValidate'); //return boolean;
        if(val){
            $("#registerForm").submit();
        }
    }
</script>
</html>